
	<div class="mainTub">

		<div class="siteTitle flexRow">A listing of all transacitons</div>

			<ul id="theList">
			{{#each allTransArray}}
				<li  class="flexRow">
					<div>{{this}}</div>
				</li>
			{{/each}}
			</ul>

			<div id="getHome" class="confirmation">This will take you back to <a href="/">transaction page</a>.</div>

		</div>

	</div>