
	<div id="errorPail" class="mainTub">

		<div class="errorInfo">Somehow an error happened! Maybe a read or write error.</div>

		<div class="errorInfo">Below should explain what happened.</div>

		<div id="errorMessage">{{error}}</div>

		<div class="errorInfo">To get back&nbsp<a href="/">home</a>.</div>

	</div>