
	<div class="mainTub">

		<div class="siteTitle flexRow">Confirming your Modification</div>

		<div class="flexRow">{{confirmationMessage}}</div>

		<div class="goingHome flexRow">This will take you back to the&nbsp;<a href="/">home page</a>.</div>

		<div class="goingHome flexRow">This will take you back to the&nbsp;<a href="/watchList">watch list page</a>.</div>		

	</div>