
@font-face { src: url("/assets/numTwoBold.ttf"); font-family: numTwoB; }
@font-face { src: url("/assets/jackInput.ttf"); font-family: Jac; }

html, body {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
}

.flexRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flexRowStart {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexColumnBoth {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.mainTub {
	font-family: numTwoB;
	font-size: 1.4rem;
	color: mediumblue;
}

.siteTitle {
	font-size: 2rem;
	color: red;
	text-align: center;
	text-decoration: underline;
	margin: 3rem 0 2rem 0;
}

/*--- Noel Picture ---*/

#doggyBox {
	width: 18rem;
	height: 27rem;
}

#noel {
	width: 13.2rem;
	height: 22rem;
	border:  0.4rem solid red;
}

#imgTitle {
	margin-top: 0.6rem;
	font-size: 1.6rem;
}

/*--- Present Value Area ---*/

#presentHalf {
	width: 22rem;
	height: 27rem;
}

#present {
	width: 100%;
	height: 22rem;
}

#presentTitle {
	margin-bottom: 0.4rem;
	font-size: 2rem;
	text-decoration: underline;
}

#theTickers {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.companyDetail {
	margin: 0 0 1rem 2rem;
}

#watchLink {
	text-decoration: none;
}

#toWatchButton {
	width: 14rem;
	height: 3rem;
	font-family: numTwoB;
	font-size: 1.4rem;
	background-color: mediumblue;
	border-radius: 0.4rem;
	color: yellow;
}

#toWatchButton:hover {
	background-color: lightgray;
	color: red;
    cursor: pointer;
}

/*--- Results Area ---*/

#tResults {
	font-size: 1.6rem;
	text-align: center;
}

/*--- Transaction Area ---*/

#transTitle {
	font-size: 2rem;
	text-decoration: underline;	
	margin: 2rem 0 1rem 0;
}

.transBoxW {
	width: 13rem;
	height: 6rem;
}

.transBoxN {
	width: 10rem;
	height: 6rem;
}

.orBox {
	width: 2rem;
	height: 6rem;	
}

#transPick {
	width: 11.2rem;
	height: 2.4rem;
	margin-top: 0.6rem;
	font-family: Jac;
	font-size: 1.4rem;
	color: mediumblue;
	padding-left: 0.4rem;
    border: 0.1rem solid mediumblue;
    border-radius: 0.4rem;
    background-color: whitesmoke;
    outline: none;
}

.inputSpace {
	margin: 0.8rem 0 0 0.4rem;	
}

input[type=text] {
	width: 8rem;
	height: 2rem;
	font-family: Jac;
	font-size: 1.8rem;
	text-align: center;
	color: mediumblue;
	border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;  
    border-color: mediumblue;
    background-color: whitesmoke;
}

input[type=text]:hover {
    cursor: pointer;
}

input[type=text]:focus {
	outline: none;
    border-color: red;
    cursor: pointer;
}

input[type=text]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#shareNumber,
#transCost {
	width: 10rem;	
}

input[type=submit],
input[type=button] {	
	width: 14rem;
	height: 3rem;
	margin: 1rem 0;
	font-family: numTwoB;
	font-size: 1.4rem;
	background-color: mediumblue;
	border-radius: 0.4rem;
	color: yellow;
}

input[type=submit]:hover,
input[type=button]:hover {
	background-color: lightgray;
	color: red;
    cursor: pointer;
}

/*--- Portfolio Area ---*/

#portTitle {
	font-size: 2rem;
	text-decoration: underline;
	margin: 2rem 0 1rem 0;
}

.portData {
	font-family: Jac;
	font-size: 1.6rem;		
}

.portBoxW {
	width: 12rem;
	height: 2.4rem;
}

.portBoxN {
	width: 7rem;
	height: 2.4rem;
}

#clearBottom {
	width: 100%;
	height: 4vw;
}

/*--- Confirmation Page ---*/
/*--- All Inclusive Page ---*/
/*--- Watch List Page ---*/
/*--- Modify Confirmation Page ---*/

.goingHome {
	margin: 1.4rem 0 3rem 0;
	font-size: 1.6rem;
}

/*--- All Inclusive Page ---*/

.listRails {
	margin: 0 1rem;
}

.indentList {
	margin-left: 2rem;
}

/*--- Watch List Page ---*/

.watchEach {
	width: 80vw;
	margin-left: 10vw;
}

.watchWhat {
	margin: 1.2rem 0 0.4rem 0;
	color: red;
}

.watchNotes {
	font-size: 1.2rem;
	margin: 0.4rem 0 0.6rem 2rem;
}

#modifyInputGroup {
	width: 70vw;
	margin-left: 15vw;
}

#modifyInputTitle {
	margin: 3rem 0 1.4rem 0;
	font-size: 1.8rem;
	color: red;
	text-align: center;
	text-decoration: underline;
}

#watchTicker {
	font-size: 1.6rem;
}

#watchNoteSet {
	margin: 1.4rem 0 1rem 0;
}

.provideSpace {
	margin-right: 0.6rem;
}

input[type=textarea] {
 	width: calc(100% - 8rem);
	height: 1.8rem;
	font-family: Jac;
	font-size: 1.4rem;
	color: mediumblue;
	border-top-style: hidden;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: hidden;
    border-left-width: 0.1rem;  
    border-color: mediumblue;
    background-color: whitesmoke;
}

input[type=textarea]:hover {
    cursor: pointer;
}

input[type=textarea]:focus {
	outline: none;
    border-color: red;
    cursor: pointer;
}

.modifyButton {
	margin: 0 2rem;
}

/*--- Error Page ---*/

#errorPail {
	width: 84vw;
	height: 24rem;
	margin: 8vw 8vw 0 8vw;
	background-color: tomato;
}

.errorInfo {
	padding-top: 2rem;
	text-align: center;
}

#errorMessage {
	font-family: Jac;
	font-size: 1.2rem;
	padding: 2rem;
}